@import "tailwindcss";

@layer utilities {
  .inset-xl {
    box-shadow: inset 0 0 5px 1px #0003;
  }
  .inset-3xl {
    box-shadow: inset 0 0 5px 3px #0003;
  }
  .inset-2xl {
    box-shadow: inset 0 0 10px 8px #0002;
  }
}

*::-webkit-scrollbar{
  display: none;
}